{% extends 'base.html' %}
{#{% block title %}{% endblock %}#}

{% block content %}
    <table border="1">
    {% for row in cells %}
        <tr>
        {% for column in row %}
            {% load static %}
            {% if column == "X" %}
                <td>
                    <button>
                        <img src="{% static "x.png" %}" alt="X"/>
                    </button>
                </td>
            {% elif column == "O" %}
                <td>
                    <button>
                        <img src="{% static "o.png" %}" alt="O"/>
                    </button>
                </td>
            {% else %}
                <td>
                    <button>
                        <img src="{% static "none.png" %}" alt=" "/>
                    </button>
                </td>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </table>
    <p>{{ state }}</p>
    {% if state == "game not finished" %}
        <script type="text/javascript">{% include "game/next_step.js" %}</script>
    {% else %}
        <a href="../">New game</a>
    {% endif %}
{% endblock %}